@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 10vh 10vw 10vh 10vw;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif ;

    --cor_cyan: hsl(179, 62%, 43%);
    --cor_yellow: hsl(71, 73%, 54%);
    --cor_grey: hsl(204, 43%, 93%);
    --cor_blue: hsl(218, 22%, 67%);


    background-color: var(--cor_grey);
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.caixa_principal{
    height: fit-content;
    max-width: 80vh;
 
    display: grid;
    grid-template-rows: min-content;
    grid-template-areas: 'jo' 'si' 'wh';
}
    .join{
        grid-area: jo;
        background-color: white;
        border-radius: 8px 8px 0 0;

        padding: 5vw;
        font-size: 0.8em;
        line-height: 150%;
    }
        #j1{
            color: var(--cor_cyan);
            margin-top: 0;
        }
        #j2{
            color: var(--cor_yellow);
            font-weight: 700;
            font-size: 1.2em;
            margin-top: 0;
        }
        #j3{
            color: black;
            font-size: 1em;
            margin-top: 0;
        }
    .signup{
        grid-area: si;

        background-color: var(--cor_cyan);
        color: white;
        padding: 6vw 6vw 6vw 6vw;
        height: auto;

        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 's1 s1' 's2 s3' 's4 s4' 's5 s5';
    }
        p[id^="s"]{
            margin: 0;
            padding: 3vw 0vw 0vw 0vw;
        }
        #s1{
            grid-area: s1;

            margin: 0;
            padding: 0vw 0vw 0vw 0vw;;
            font-weight: 400;
            font-size: 1em;
        }
        #s2{
            grid-area: s2;

            display: flex;
            align-items: center;

            font-size: 2em;
            font-weight: 700;
        }
        #s3{
            grid-area: s3;

            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 0.5em;

            font-weight: 400;
            color: rgba(132, 233, 231, 0.548);
        }
        #s4{
            grid-area: s4;

            font-weight: 300;
        }
        #s5{
            grid-area: s5;

            height: fit-content;
            display: flex;
            padding: 5vw 0vw 0vw 0vw;
            justify-content: center;
            align-content: center;
        }
            a{
                background-color: var(--cor_yellow);
                height: 10vw;
                flex-grow: 1;
                flex-shrink: 1;

                border-radius: 8px;
                box-shadow: 0 0 2px var(--cor_yellow);
                text-decoration: none;
                color: unset;
                font-weight: 600;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
    .whyus{
        grid-area: wh;
        height: max-content;

        color: white;
        background-color: hsl(179,47%,51%);
        border-radius: 0px 0px 8px 8px;
        padding: 5vw;
        font-size: 0.8em;
    }
        #w1{
            padding: 0;
            margin: 0;
            font-size: 1.2em;
            font-weight: 400;
        }
        #w2{
            list-style-type: none;
            padding: 0;
            font-weight: 300;
            line-height: 150%;
        }

@media screen and (min-width: 700px){
    body{
        display: flex;
        min-height: 100vh;
        padding: 15vh 10vw 15vh 10vw;

        justify-content: space-around;
        align-content: space-around;
    }
    .caixa_principal{
        display: grid;
        height: fit-content;
        width: max-content;
        min-width: 30vw;
        max-width: 50vw;
        max-height: 35vh;

        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'jo jo' 'si wh';
    }
        .join{
            grid-area: jo;
            padding: 5vh;
            font-size: 15px;
            padding-bottom: 2vh;
        }
        .signup{
            grid-area: si;
            padding: 5vh;
            padding-bottom: 2vh;
            border-radius: 0px 0px 0px 8px;
            height: auto;
            font-size: 12px;

            grid-template-rows: min-content;
        }
            p[id^="s"]{
                margin: 0;
                padding: 0vw 0vw 0vh 0vw;
            }

            #s1{
                grid-area: s1;

                margin: 0;
                font-size: 18px;
            }
            #s2{
                font-size: 30px;
            }
            #s5{
                padding-top: 0;
            }
        .whyus{
            grid-area: wh;
            padding: 5vh;
            padding-bottom: 2vh;
            border-radius: 0px 0px 8px 0px;
            height: auto;
            font-size: 15px;
        }
            #w1{
                font-size: 15px;
            }
            #w2{
                font-size: 12px;
            }
                a{
                    height: 5vh;
                }
}
